[Desktop Entry]
Name=Phabricator Widget
Comment=A Plasma widget for visualizing Phabricator data
Icon=phabricator-purpose
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Enoque Joseneas
X-KDE-PluginInfo-Email=enoquejoseneas@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.phabricator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://phabricator.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
